@import "tailwindcss";

@theme {
  /* You can add custom theme variables here if needed */
}

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }

  input {
    @apply outline-none;
  }
}